<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nju.dapenti"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="2.0">

<uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="cn.edu.nju.dapenti.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <service android:name="cn.edu.nju.dapenti.service.RefreshService" />
        <service android:name="cn.edu.nju.dapenti.service.FetcherService" />

        <activity android:name="com.baidu.mobads.AppActivity" android:configChanges="keyboard|keyboardHidden|orientation" />

                <!-- APPSID -->

                <meta-data android:name="BaiduMobAd_APP_ID" android:value="b005407b" /> 

                <!-- Secrete -->

                <meta-data android:name="BaiduMobAd_APP_SEC" android:value="b005407b" />
        
        <!-- providver will map android:authorities to a class, used by Intent -->
        <provider
            android:name="cn.edu.nju.dapenti.provider.FeedDataContentProvider"
            android:authorities="cn.edu.nju.dapenti.provider.FeedData"
            android:exported="true" />

        <activity
            android:name="cn.edu.nju.dapenti.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.nju.dapenti.activity.FeedsListActivity"
            android:label="@string/feeds"
            android:launchMode="singleTask" />
        <activity
            android:name="cn.edu.nju.dapenti.activity.EntryActivity"
            android:launchMode="singleTask">
            <!-- EntryActivity will handle VIEW action of mimetype of vnd.android.cursor.item/vnd.feedex.entry -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.feedex.entry" />
            </intent-filter>
        </activity>
        <activity android:name="cn.edu.nju.dapenti.activity.GeneralPrefsActivity" />
        <activity android:name="cn.edu.nju.dapenti.widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="cn.edu.nju.dapenti.activity.EditFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.feedex.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.feedex.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name="cn.edu.nju.dapenti.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <service
            android:name="cn.edu.nju.dapenti.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="cn.edu.nju.dapenti.receiver.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.edu.nju.dapenti.receiver.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.edu.nju.dapenti.service.RefreshService$RefreshAlarmReceiver" />
    </application>

</manifest>